<h1>Artists of <%= @record_label.name %></h1>
<p>
  <a href="/record_labels">Record Labels</a>
  |
  <a href="/artists">Artists</a>
  |
  <a href="/record_labels/<%= @record_label.id %>/artists/new">Create Artist</a>
</p>
<ul>
  <% @artists.each do |artist| %>
    <li style="padding-bottom: 15px">
      <span class="artist-name"><%= artist.name %></span>
      <br/>
      Member Count: <%= artist.member_count %>
      <br/>
      Album Count: <%= artist.album_count %>
      <br/>
      Actively Touring: <%= artist.actively_touring %>
    </li>
  <% end %>
</ul>
<p><a href="/record_labels/<%= @record_label.id %>/artists?sort=name" >Sort Artists Alphabetically</a></p>
