<h1>Artists</h1>
<p>
  <a href="/artists">Artists</a>
  |
  <a href="/record_labels">Record Labels</a>
</p>
<% @artists.each do |artist| %>
  <h3>Name: <%= artist.name %></h3>
  <p>Member Count: <%= artist.member_count %></p>
  <p>Album Count: <%= artist.album_count %></p>
  <p>Actively Touring: <%= artist.actively_touring %></p>
  <p><%= link_to "Edit #{artist.name}", "/artists/#{artist.id}/edit", class: "btn btn-outline-dark btn-sm" %></p>
<% end %>
