<%= form_with url: "/record_labels/#{@record_label.id}", method: :patch, local: true do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <%= form.label :revenue %>
  <%= form.text_field :revenue %>
  <%= form.label :location %>
  <%= form.text_field :location %>
  <label for="employee_owned">Employee Owned:</label>
  <select id="employee_owned" name="Employee Owned">
    <option value="NULL">Choose...</option>
    <option value="true">Yes</option>
    <option value="false">No</option>
  </select>
  <%= form.submit 'Submit' %>
<% end %>
