<h1><%= @record_label.name %></h1>
<p>Revenue: <%= @record_label.revenue %></p>
<p>Location: <%= @record_label.location %></p>
<p>Genre Included: <%= @record_label.genre_included %></p>
<p>Artist Count: <%= @artist_count %></p>
